* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu-container {
	color: #333;
	background-color: #ffcc00;
	font-size: 2em;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.menu-container img {
	width: 30px;
	height: 30px
}

.menu {
	/* border: 1px solid #fff; for debugging */
	width: 1000px;
	display: flex;
	justify-content: space-between;
}

.links {
	/* border: 1px solid #fff;  for debugging */
	display: flex;
	justify-content: right;
}

.about,
.skills,
.contact {
	margin-right: 20px;
}

.header-container {
	color: #333;
	background-color: #ffcc00;
	display: flex;
	justify-content: center;
}

.header {
	width: 1000px;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
}

.after {
	content: '';
	background: #333;
	position: absolute;
	height: 12px;
	width: 12em;
}

.intro {
	font-size: 4em;
	font-weight: bold;
}

.statement {
	font-size: 2em;
	font-weight: bold;
}

.photo-grid-container {
	display: flex;
	justify-content: center;
}

.photo-grid {
	width: 900px;
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.photo-grid-item {
	border: 1px solid #fff;
	height: 300px;
	width: 300px;
}

.photo-grid-item img {
	max-width:100%;
}	

.footer	{
	display: flex;
	justify-content: space-between;
}

.footer-item {
	border: 1px solid #fff;
	background-color: #D6E9FE;
	height: 200px;
	flex: 1;
}

.footer-one,
.footer-three {
	background-color: #5995DA;
	flex: initial;
	width: 300px;
}

