<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset='UTF-8'/>
	<title>Pig.Code</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class='menu-container'>
	<div class='menu'>
		<div class='pig'>Code.Pig</div>
		<div class='links'>	
			<div class='about'>About</div>
			<div class='contact'>Contact</div>
		</div>
	</div>
</div>

<div class='header-container'>
	<div class='header'>
		<div class='subscribe'>Subscribe &#9662;</div>
		<div class='logo'><img src='static/img/pig3.png' style="width:128px;height:128px;"/></div>
		<div class='social'><img src='static/img/linked.svg'/></div>
	</div>
</div>
<div class='photo-grid-container'>
	<div class='photo-grid'>
		<div class='photo-grid-item1'>
			<img src='static/img/pig2.png'/>
		</div>
		<div class='photo-grid-item2'>
			<img src='static/img/passion.jpg'/>
		</div>
		<div class='photo-grid-item3'>
			<img src='static/img/minlaptop.jpg'/>
		</div>
	</div>
</div>
</body>
</html>
